force-app/main/default/flows/Allocate_Vehicle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_PDF</name>
        <label>Generate PDF</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>AllocationProcessor</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>vehicleId</name>
            <value>
                <elementReference>Available_Vehicles</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Get_Configuration.Lead__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Vehicles_Available</name>
        <label>Vehicles Available</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>No_Vehicle_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Available_Vehicles_Set</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Vehicle</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailableVehicleChoice</name>
        <collectionReference>Available_Vehicles_Set</collectionReference>
        <dataType>String</dataType>
        <displayField>Vehicle_Details_for_Flow__c</displayField>
        <object>Vehicle__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Availablevehicles</name>
        <dataType>String</dataType>
        <displayField>VIN__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Interior_Color__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
                >Get_Configuration.Selected_Interior_Color__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exterior_Color__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
                >Get_Configuration.Selected_Exterior_Color__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Range__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
                >Get_Configuration.Selected_Range__c</elementReference>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Allocate Vehicle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Allocate Vehicle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Available_Vehicles_Set</name>
        <label>Available Vehicles</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vehicles_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exterior_Color__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
                >Get_Configuration.Selected_Exterior_Color__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interior_Color__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
                >Get_Configuration.Selected_Interior_Color__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Range__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
                >Get_Configuration.Selected_Range__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Configuration</name>
        <label>Get Configuration</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Available_Vehicles_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Car_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Configuration_with_Vehicle</name>
        <label>Update Configuration with Vehicle</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_Vehicle_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Configuration.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allotted_Vehicle__c</field>
            <value>
                <elementReference>Available_Vehicles</elementReference>
            </value>
        </inputAssignments>
        <object>Car_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vehicle_Status</name>
        <label>Update Vehicle Status</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Available_Vehicles</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordUpdates>
    <screens>
        <name>No_Vehicle_available</name>
        <label>No Vehicle available</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Vehicle_Msg</name>
            <fieldText
            >&lt;p style=&quot;text-align: center;&quot;&gt;No vehicles matching this configuration are available. Please place an order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Vehicle</name>
        <label>Select Vehicle</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Configuration_with_Vehicle</targetReference>
        </connector>
        <fields>
            <name>Available_Vehicles</name>
            <choiceReferences>AvailableVehicleChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Vehicles</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Configuration</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
